/* THEME CONFIG */
:root {
  --bg-color: #ffffff;
  --text-color: #111111;
}
[data-theme='dark'] {
  --bg-color: #242424;
  --text-color: #ebfdff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease;
}

/* ******************* */
/* ******************* */
/* http://masouc.codes */
/* ******************* */
/* ******************* */

/* OTHER STYLE */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 15em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #fea55faa);
}

.card {
  padding: 2em;
}

.footer {
  color: #888;
  margin-top: 8rem;
}
